<div class="filter">
  <input
    type="text"
    [(ngModel)]="filterText"
    placeholder="Filter by description"
  />
  <button (click)="addData()">Add Data</button>
</div>

<table class="table">
  <thead>
    <tr>
	  @for(header of schema.showInTable; track $index) {
	  <th>{{ header }}</th>
	  }
    </tr>
  </thead>
  <tbody>
    @for (item of filteredData; track item) {
    <tr>
      @for (field of schema.showInTable; track field) {
    	<td>{{ item[field] }}</td>
	  }
    </tr>
    }
  </tbody>
</table>
